.voter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      rgba(30, 160, 30, 0.544),
      rgba(30, 160, 30, 0.544)
    ),
    url("../image/auk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  form {
    background-color: rgba(255, 255, 255, 0.544);
    padding: 0px 60px;
    border-radius: 10px;

    h1 {
      color: rgb(30, 160, 30);
      text-align: center;
    }

    button {
      width: 100%;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: rgb(30, 160, 30);
      color: white;
      border-radius: 5px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
}
