.votingpage {
  padding: 0;
  margin: 0;

  .welcome {
    display: flex;
    position: relative;
    height: 50px;
    width: 100%;
    background-color: rgb(232, 24, 24);
  }

  button {
    margin-top: auto;
  }

  @media only screen and (max-width: 600px) {
    .welcome {
      height: auto;
    }
  }
}
