.votingpage {
  padding: 0;
  margin: 0;

  .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(232, 24, 24);

    h5 {
      span {
        font-weight: bold;
      }
    }
  }
}
